html,
body {
  margin: 0;
  padding: 0;
  border: 0;

}


.box1 {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    flex-wrap: wrap;


    height: 100%;



    background-color: #4f95ff;
  /* some kind of image */

}


.box2 {
    padding-top: 5%;
    padding-bottom: 10%;

    height: 100%;

    /*background-color: #20b2db;*/

  /* some kind of image */
}

.box3 {
    height: 100%;
    text-align: center;
    /*background-color: #42f492;*/
    background-color: #4f95ff;
    padding-bottom: 25%;
}

.nextBox-container {
    margin-top: 10%;
    position: absolute;;
    text-align: center;
    left:46.6%;
}

.nextBox {
    border-radius: 75%;
    position: relative;
    font-size: 80px;
    color: gray;
    border: 2px solid gray;
    text-align: center;
    z-index:1;
}

.nextBox:hover {
    color: white;
    border: 2px solid white;
}

.nextBox2-container {
    margin-top: 10%;
    position: absolute;
    text-align: center;
    left:46.2%;
}


.nextBox2 {
    border-radius: 75%;
    font-size: 80px;
    color: gray;
    border: 2px solid gray;
    text-align: center;
}

.nextBox2:hover {
    color: #4f95ff;
    border: 2px solid #4f95ff;
}

.intro {
    position: relative;
    text-align: center;
    vertical-align: middle;
    margin-top: 20%;
    margin-bottom: 22%;
    /*flex: 1;
    align-self: stretch;*/


}

.title {
    text-align: inherit;
    vertical-align: inherit;
    color: white;
    /*opacity: 0;*/
}

.subtitle {
    text-align: inherit;
    vertical-align: inherit;
    color: white;
    /*opacity: 0;*/

}

.image-select {
    /*flex: 1;
    align-self: stretch;*/
    position: relative;
    text-align: center;
    vertical-align: middle;
}

.uploadBox {
    border-width: 2px;
    border-style: dashed;
    border-color: #008B8B;
    background: #fafafa;
    border-image: initial;
    border-radius: 5px;
    margin-top: 5% !important;
    height: 250px !important;
    width: 250px !important;


}

.upload-arrow {
    font-size:80px;
    margin-top:35%;
    margin-left:35%;

}

.thumbnail {
    height:100px;
    width:100px;
    overflow: hidden;

}

.thumbnail img {


}

.urldrop {
    padding-top: 6% !important;
}

.big-OR {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    padding: 15px;
    padding-left: 9px;
    background: #fff;
    border: 2px solid #000;
    color: #000;
    text-align: center;
    font: 32px Arial, sans-serif;

}

.zip {
    padding-left: 20% !important;
}

.zip label{
    color: white;
}

.zip input {
    border-bottom: 1px solid white;
}

.zip input[type=text]:focus+label{
    color: black !important;
}


input[type=text]:focus {
    border-bottom: 1px solid black !important;

}
