html,
body {
  margin: 0;
  padding: 0;
  border: 0;

}


.box1 {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    flex-wrap: wrap;

    position: relative;
    height: 100%;

    background-color: #4f95ff;
  /* some kind of image */

}



.box2 {
    height: 100%;
    padding-top: .5%;
    /*background-color: #20b2db;*/

  /* some kind of image */
}

.box3 {
    height: 100%;
    text-align: center;
    /*background-color: #42f492;*/
    background-color: #4f95ff;
    padding-bottom: 28%;
}

.nextBox-container {
    margin-top: 15%;
    position: relative;
    text-align: center;

}

.nextBox {
    border-radius: 75%;
    position: relative;
    font-size: 80px;
    color: black;
    border: 2px solid black;
    text-align: center;
    z-index:1;
}

.nextBox:hover {
    color: white;
    border: 2px solid white;
}

.nextBox2-container {
    position: relative;;
    text-align: center;
    margin-bottom: 2%;
    margin-top: 10%;


}


.nextBox2 {
    border-radius: 75%;
    font-size: 80px;
    color: gray;
    border: 2px solid gray;
    text-align: center;
}

.nextBox2:hover {
    color: #4f95ff;
    border: 2px solid #4f95ff;
}

.intro {
    position: relative;
    text-align: center;
    vertical-align: middle;
    margin-top: 16%;
    margin-bottom: 13.25%;
    /*flex: 1;
    align-self: stretch;*/


}

.title {
    text-align: inherit;
    vertical-align: inherit;
    color: white;
    /*opacity: 0;*/
}

.subtitle {
    text-align: inherit;
    vertical-align: inherit;
    color: white;
    /*opacity: 0;*/

}

.image-select {


}

.uploadBox {
    border-width: 2px;
    border-style: dashed;
    border-color: #008B8B;
    background: #fafafa;
    border-image: initial;
    border-radius: 5px;
    margin-top: 5% !important;
    
    height: 250px !important;
    width: 250px !important;
    text-align: center;
    display: table;


}

.upload-arrow {
    font-size:80px;
    vertical-align: middle;
    display: table-cell;

}

.thumbnail {
    position: relative;
    vertical-align: middle;
    max-height: 200px;
    max-width: 200px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;


}

.imgHolder {
    margin: 0 auto;
    position: relative;
    max-width: inherit;
    max-height: inherit;
    overflow: hidden;
    display: inline-block;

}

.imgHolder img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    padding: 11px;


}

.removeIcon {
    position: absolute;
    top:0;
    right:0;
    cursor: pointer;
    color:black !important
}



.urldrop {
    padding-top: 6% !important;
}

.big-OR {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    padding: 15px;
    padding-left: 9px;
    background: #fff;
    border: 2px solid #000;
    color: #000;
    text-align: center;
    font: 32px Arial, sans-serif;

}

.zip {
    padding-left: 20% !important;
    padding-right: 10% !important;
    vertical-align: middle;
}

.zip label{
    color: white;
}

.zip input {
    border-bottom: 1px solid white;
}

.zip input[type=text]:focus+label{
    color: black !important;
}


input[type=text]:focus {
    border-bottom: 1px solid black !important;

}

.submitButton {
    padding-left: 20%;
}
